h1 {
    color: blue;
}

body {
    overflow: hidden;
}

.row .col {
    padding: 0 !important;
}

.page {
    display: flex;
    flex-direction: column;
}

.div-top {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    max-width: 1300px;
    width: 100%;
    min-height: 43%;
    max-height: 51%;
    position: fixed;
    top: 7.1%;
    overflow: auto;
}

.div-bottom {
    display: flex;
    flex-wrap: wrap;
    bottom: 0px;
    padding: 10px;
    background: rgba(238,110,115,0.3);
    justify-content: center;
    height: 40%;
    border-top: 1px solid rgba(238,110,115,1);
    position: fixed;
    width: 100%;
}

.list2div {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 300px;
    height: 80%;
    width: 100%;
}

.search-bar {
    width: 100%;
    height: 20%;
}

.form-choice {
    top: 2.5%;
    width: 100%;
}

.img-choice {
    width: 40%;
    max-width: 460px;
    border: 1px black solid;
}

.form-top {
    width: 18%;
    margin-right: 5px;
    max-width: 230px;
    margin-bottom: 12px;
}

.form-bottom {
    width: 180px;
    height: 85px;
    margin-right: 3px;
    max-width: 180px;
    margin-bottom: 8px;
    position: relative;
}

.img-top {
    width: 100%;
    max-width: 230px;
    border: 1px black solid;
    cursor: pointer;
}

.img-bottom {
    width: 180px;
    border: 1px black solid;
    position: absolute;
    cursor: pointer;
}

.img-bottom-2 {
    width: 180px;
    border: 1px black solid;
    position: absolute;
}

.choice {
    position: absolute;
    color: white;
    font-style: normal;
    font-weight: bold;
    background: black;
    width: 60px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

.rank {
    position: absolute;
    color: white;
    font-style: normal;
    font-weight: bold;
    background: black;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

.favorite {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    border: black solid 2px;
    color:rgba(232,25,25, 1);
    cursor: pointer;
}

.no-favorite {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    border: black solid 2px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.favorite:hover {
    color:rgba(232,25,25, 0.5);
}

.no-favorite:hover {
    color:rgba(232,25,25, 0.5);
}

#user-select {
    position: fixed;
    right: 0;
}

.collection-item {
    cursor: pointer;
    user-select: none;
}

.item-selected {
    background: rgba(238,110,115,0.3) !important;
}

#generate-button-2 {
    position: absolute;
    top: -50px;
}

#generate-button-3 {
    position: absolute;
    top: -50px;
}