<!doctype html>
<head>
	<title>Recommender</title>
	<link rel=stylesheet type=text/css href="static/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	<script src="static/index.js"></script>
</head>

<body>
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s4"><a class="active" href="#tab1">Version 1</a></li>
				<li class="tab col s4"><a class="" href="#tab2">Version 2</a></li>
				<li class="tab col s4"><a class="" href="#tab3">Version 3</a></li>
			</ul>
		</div>
		<div id="tab1" class="col s12">
			<div class=page>


				<div id="list" class="div-top">
					{{ gamesranked|safe }}
				</div>

				<div class="div-bottom">
					<div class="search-bar">
						<form name="search" autocomplete="off">
							<div class="input-field col s12">
								<input type="text" id="search">
								<label for="search">Filter</label>
							</div>
						</form>
					</div>

					<div id="list2" class="list2div">
						{% for game in gameslist %}
							<form class="form-bottom"> 
								<input hidden type="text" value="{{ game.id }}" name="id">
								<input hidden type="text" value="{{ game.title }}" name="title">
								<div hidden>{{ game.desire }}</div>
								<img src="static/images/{{ game.image }}.jpg" id="img" class="img-bottom"/>
							</form>
						{% endfor %}
					</div>
					
				</div>
			</div>
		</div>
		<div id="tab2" class="col s12">
			<div class=page>
				<div id="list-2" class="div-top">
					{{ gamesranked|safe }}
				</div>

				

				<div class="div-bottom">
					<div>
						<a id="generate-button-2" class="waves-effect waves-light btn">Generate Recommendation</a>
					</div>

					<div class="search-bar">
						<form name="search" autocomplete="off">
							<div class="input-field col s12">
								<input type="text" id="search-2">
								<label for="search">Filter</label>
							</div>
						</form>
					</div>
					
					<div id="list2-2" class="list2div">
						{% for game in gameslist %}
							<form class="form-bottom"> 
								<input hidden type="text" value="{{ game.id }}" name="id">
								<input hidden type="text" value="{{ game.title }}" name="title">
								<div hidden>{{ game.desire }}</div>
								<img src="static/images/{{ game.image }}.jpg" id="img" class="img-bottom-2"/>
								{% if game.favorite == 1 %}
								<i class="material-icons favorite" id="heart">favorite</i>
								{% else %}
								<i class="material-icons no-favorite" id="heart">favorite</i>
								{% endif %}
							</form>
						{% endfor %}
					</div>
					
				</div>
			</div>
		</div>
		<div id="tab3" class="col s12">
			<div class=page>
				<div id="list-3" class="div-top">
					{{ gamesranked|safe }}
				</div>

				<div id="user-select">
					<ul class="collection with-header" id="item-col">
						<li class="collection-item item-selected">John</li>
						<li class="collection-item">David</li>
						<li class="collection-item">Michael</li>
						<li class="collection-item">Elsa</li>
						<li class="collection-item">Andrew</li>
					</ul>
				</div>

				<div class="div-bottom">
					<div>
						<a id="generate-button-3" class="waves-effect waves-light btn">Generate Recommendation</a>
					</div>

					<div class="search-bar">
						<form name="search" autocomplete="off">
							<div class="input-field col s12">
								<input type="text" id="search-3">
								<label for="search">Filter</label>
							</div>
						</form>
					</div>

					<div id="list2-3" class="list2div">
						{% for game in gameslist %}
							<form class="form-bottom"> 
								<input hidden type="text" value="{{ game.id }}" name="id">
								<input hidden type="text" value="{{ game.title }}" name="title">
								<div hidden>{{ game.desire }}</div>
								<img src="static/images/{{ game.image }}.jpg" id="img" class="img-bottom-2"/>
								{% if game.favorite == 1 %}
								<i class="material-icons favorite" id="heart">favorite</i>
								{% else %}
								<i class="material-icons no-favorite" id="heart">favorite</i>
								{% endif %}
							</form>
						{% endfor %}
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>