{% for game in games %}
    {% if con_pick == True %}
        {% if loop.index == 1 %}
            <form class="form-choice">
                <input hidden type="text" value="{{ game.id }}" name="id">
                <input hidden type="text" value="{{ game.title }}" name="title">
                <div hidden>{{ game.desire }}</div>
                <i class="choice {{loop.index0}}">PICK</i>
                <img src="static/images/{{ game.image }}.jpg" id="img" class="img-choice"/>
            </form>
        {% else %}
            <form class="form-top"> 
                <input hidden type="text" value="{{ game.id }}" name="id">
                <input hidden type="text" value="{{ game.title }}" name="title">
                <div hidden>{{ game.desire }}</div>
                <i class="rank {{loop.index0}}">{{ loop.index0 }}</i>
                <img src="static/images/{{ game.image }}.jpg" id="img" class="img-top"/>
            </form>
        {% endif %}
    {% else %}
        <form class="form-top"> 
            <input hidden type="text" value="{{ game.id }}" name="id">
            <input hidden type="text" value="{{ game.title }}" name="title">
            <div hidden>{{ game.desire }}</div>
            <i class="rank {{loop.index0}}">{{ loop.index }}</i>
            <img src="static/images/{{ game.image }}.jpg" id="img" class="img-top"/>
        </form>
    {% endif %}
{% endfor %}